body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  cursor: pointer;
  height: 30px;
  margin: 0 10%;
  padding: 0;
}

.App-header {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Footer design */
.bottom-details {
  max-width: 100%;
  margin: auto;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  background-color: #24252a;
}
.bottom-details span,
.bottom-details a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  margin-right: 10px;
}
.bottom-details a:hover {
  opacity: 1;
  text-decoration: underline;
}
